.actions {
  display: flex;
  flex-flow: row nowrap;
}

.actions__login {
  padding-right: 20px;

  font-family: Tahoma;
  font-size: 14px;
  font-weight: 400;
  color: #fffefe;
  text-decoration: none;
  opacity: 0.55;

  background-image: url("../img/icon-enter.png");
  background-repeat: no-repeat;
  background-position: center right;

  transition: opacity 300ms ease;

  &:hover {
    opacity: 1;
  }
}

.actions__lang {
  width: 30px;
  height: 20px;
  margin-right: 25px;

  opacity: 0.55;

  background-image: url("../img/spriteflags.png");

  &--current {
    background-position: -47px -36px;
  }

   &:hover {
    opacity: 1;
  }
}

.actions__place {
  width: 14px;
  height: 18px;
  margin-right: 25px;

  background-image: url("../img/spriteicons.png");
  background-position: -78px -57px;

  opacity: 0.55;

  &:hover {
    opacity: 1;
  }
}
