.form {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
}

.form__row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;


  margin-bottom: 5px;

  &--bm {
    margin-bottom: 15px;
  }
}

.form__label {
  
  min-width: 150px;
  max-width: 230px;
  flex-grow: 1;
  margin-right: 10px;
  padding-right: 10px;
  padding-top: 9px;

  color: rgba($font-color, 0.33);
  font-size: 18px;
  font-weight: 400;
  text-align: right;

  &--sub {
    margin-bottom: 15px;
  }
}

.form__block {
  margin-bottom: 45px;

  &:after{
    content: " ";
    display: table;
    clear: both;

  }
}

.form__input {
  flex: 1 1 auto;
}

.form__text-input {
  box-sizing: border-box;
  width: 75%;
  max-width: 550px;
  min-width: 200px;
  padding: 10px;

  border: none;

  color: rgba($font-color, 0.7);
  font-size: 18px;
  font-weight: 400;

  &--big {
    width: 100%;
    max-width: 550px;
    min-height: 70px;
    resize: none;
    font-size: 16px;
    height: auto;
  }

  &::placeholder {
     color: rgba($font-color, 0.3);
  }

  &:invalid {
   border-bottom: 1px solid black;
  }

  &:focus {
    outline: 2px solid rgba($font-color, 0.5)
  }
}

.form__pass-input {
  box-sizing: border-box;
  width: 232px;

  margin-bottom: 10px;
  height: 37px;
  border: 1px solid #dedcdc;
  background-color: #ebeaea;
}

.form__checkbox-input {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;

    border: 1px solid #dedcdc;
    background-color: #ebeaea;

  }

  &::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;

    opacity: 0.33;

    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
  }
}

.form__checkbox-input:checked::after {
  background-image: url("../img/icon-tick.png");
}

.form__photo {
  width: 157px;
  height: 157px;

  margin-top: 15px;
  margin-right: 7.2%;
  margin-bottom: 30px;
}

.form__change-btn {
  @include btn;

  margin-top: 75px;
  max-width: 186px;
  min-width: 150px;
  height: 43px;
  flex-grow: 1;

  border-radius: 9px;

  font-size: 18px;
  font-weight: 400;
  color: rgba($font-color, 0.5);
}

.form__submit {
  @include btn;

  width: 232px;
  height: 43px;
  margin-top: 68px;
  margin-left: 260px;

  border-radius: 9px;

  background-color: #679178;
}

@media (max-width: 768px) {
  .form {
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    text-align: center;
  }

  .form__block {
    margin-bottom: 25px;
  }

  .form__row {
    display: block;
    text-align: center;
    // flex-direction: column;
    // -webkit-justify-content: center;
    // -ms-flex-pack: center;
    // justify-content: center;

    // &--inline {
    //   flex-direction: row;
    // }

    &--bm {
    margin-bottom: 15px;
    width: auto;
    display: inline-block !important;
  }
  }



  .form__label {
    min-width: 100px;
    width: auto;
    text-align: left;


    display: block;
    text-align: center;
    margin: auto;
    font-size: 22px;

    margin-top: 30px;
    padding: 0px;

    max-width: 100%;
  }

  .form__input {
    width: 100%;
    margin-bottom: 10px;
  }

  .form__text-input {
    width: 100%
  }

  .form__pass-input {
    margin-bottom: 0;
  }

  .form__photo {
        margin: auto;
    margin-bottom: 15px;
  }

  .form__change-btn {
        margin: auto;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .form__submit {
    margin-left: 0;
  }
}


