.profile {
  box-sizing: border-box;
  max-width: 1240px;

  padding-left: 60px;
  padding-top: 88px;
  padding-right: 70px;
  padding-bottom: 96px;

  background-color: #fff;
}

.profile__title {
  margin: 0;
  margin-bottom: 37px;
  padding-left: 85px;

  color: rgba($font-color, 0.5);
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 1100px) {
  .profile {
    padding-left: 10px;
    padding-right: 10px;
  }
}

