.select-place {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-width: 706px;
  min-width: 320px;
  margin: 0 auto;

  top: 490px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.select-place__value {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  margin-bottom: 52px;
  padding: 9px 20px 11px 27px;

  border-radius: 9px;
  border: 3px solid #ffffff;
  opacity: 0.5;

  color: #ffffff;
  font-family: $font;
  font-size: 30px;
  font-weight: 400;

  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 42px;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);

    background-image: url("../img/spriteicons.png");
    background-position: -99px -5px;
  }

}

.select-place__list {
  margin: 0;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 30px;
  list-style: none;

  overflow-y: scroll;
  opacity: 0.5;
  border-radius: 9px;
  border: 3px solid #ffffff;
}

.select-place__option {
  margin-bottom: 5px;
  padding-left: 25px;

  color: #ffffff;
  font-family: $font;
  font-size: 30px;
  font-weight: 400;

  cursor: pointer;
}

